@model Ventas.Web.Models.Requests.SaleCreateRequest;
@{
    Layout = "_Layout_Sales";
}


<div class="col-4 mt-5">
    <form class="row g-3 needs-validation d-flex flex-column align-items-center" novalidate action="http://localhost:5205/api/sales" method="post">
        <div class="input-group">
            <span class="input-group-text bg-success text-white">Numero de Documento</span>
            <input type="text" asp-for="numeroDocumento" class="form-control rounded-3"  required>
            <div class="invalid-feedback">
                Escribe un numero de documento válido.
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-text bg-success text-white">Tipo de Pago</span>
            <input type="text" asp-for="tipoPago" class="form-control rounded-3"required>
            <div class="invalid-feedback">
                Escribe un tipo de pago válido.
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-text bg-success text-white">Total</span>
            <input type="text" asp-for="total" class="form-control rounded-3"required>
            <div class="invalid-feedback">
                Escribe un total válido
            </div>
        </div>

        <div class="col-4">
            <button type="submit" class="btn btn-success col-12 rounded-3 text-white" asp-controller="Sales" asp-action="CreateSale">Crear venta</button>
        </div>
    </form>
</div>